<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <!-- Tarjeta de Información de la Wallet -->
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0"><%= @wallet.type %> Wallet</h4>
        </div>
        <div class="card-body">
          <h5>Your Balance:</h5>
          <p class="display-4"><%= number_to_currency(@wallet.amount) %></p>
          <!-- Información adicional según el tipo de Wallet -->
          <% if @wallet_type == 'Investment' %>
            <h5>Your Total Investment:</h5>
            <p class="text-success"><strong><%= number_to_currency(@total_investment) %></strong></p>
          <% elsif @wallet_type == 'Profit' %>
            <h5>Your Total Profit:</h5>
            <p class="text-info"><strong><%= number_to_currency(@total_profit) %></strong></p>
            <h5>Your Paid Profit:</h5>
            <p class="text-warning"><strong><%= number_to_currency(@total_paid_profit) %></strong></p>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-header">RECENT TRANSACTIONS</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>CURRENCY</th>
              <% if @wallet_type == 'Investment' %>
                <th>AMOUNT</th>
                <th>PERIOD</th>
                <th>START DATE</th>
                <th>END DATE</th>
                <th>STATUS</th>
              <% elsif @wallet_type == 'Profit' %>
                <th>AMOUNT</th>
                <th>PERIOD</th>
                <th>PAID TIME</th>
                <th>STATUS</th>
              <% else %>
                <th>INVESTED VALUE</th>
                <th>PROFIT</th>
                <th>TOTAL</th>
                <th>PAID AT</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% if @wallet_type == 'Investment' %>
              <%= render partial: 'investments', locals: { investments: @investments, wallet: @wallet } %>
            <% elsif @wallet_type == 'Profit' %>
              <%= render partial: 'profits', locals: { profits: @profits, wallet: @wallet } %>
            <% else %>
              <%= render partial: 'releases', locals: { releases: @releases, wallet: @wallet } %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% if @wallet_type == 'Investment' %>
        <div class="row">
          <div class="col-12 p-3">
            <%= paginate @investments, param_name: 'investment_page' %>
          </div>
        </div>
      <% elsif @wallet_type == 'Profit' %>
        <div class="row">
          <div class="col-12 p-3">
            <%= paginate @profits, param_name: 'profit_page' %>
          </div>
        </div>
      <% end %>

      <div class="field mt-3">
        <%= link_to 'Invest again', root_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
